@model IEnumerable<OfficeWires.Models.WebApp>

@*ref: https://www.bootdey.com/snippets/view/project-cards*@


<div class="container p-0">
    <h1 class="h3 mb-3">Projects</h1>

    <div class="row">
        @foreach (var w in Model)
        {
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card" id="@w.Name">
                    <div class="card-header px-4 pt-4">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-diplay="static">
                                    <svg 
                                         xmlns="http://www.w3.org/2000/svg" 
                                         width="24" height="24" viewBox="0 0 24 24" 
                                         fill="none" stroke="currentColor" stroke-width="2" 
                                         stroke-linecap="round" stroke-linejoin="round" 
                                         class="feather feather-more-horizontal align-middle">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle></svg>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item" href="@w.SourceLoc">View Source</div>
                                    <div class="dropdown-item" href="@w.URL">GoTo...</div>
                                    <div class="dropdown-item" href="#">@(w.IsRunning == true ? "up" : "down")</div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">@w.Name</h5>
                    </div>

                    <div class="card-body px-4 pt-2">
                        <p class=".app-description">@w.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>