@model IEnumerable<ProjectBoard>
@*ref: https://www.bootdey.com/snippets/view/project-cards*@

@{ Layout = "_Layout";
                ViewBag.Title = "Development Solutions"; }

<div class="container p-0">
    <a href="#">
        <h1 class="h3 mb-3 col-6">
            Code Projects
            <img src="~/images/tabletapps.png" />
        </h1>
    </a>
        <p class="col-2 float-right">GitHub public repositories:</p>
    

    <div class="card" style="margin:20px 0px 20px 0px;">
        <div class="card-title" style="font-weight:bolder">Zen</div>
        <div class="card-text" id="zen"></div>
        <div class="card-subtitle text-muted" style="font-style:italic; font-size:x-small; text-align:right;">https://api.github.com/zen</div>
    </div>

    <div class="row">
        @foreach (var w in Model)
        {
        <div class="col-lg-3 col-md-6 col-12 pt-2">
            <div class="card shadow" id="@w.Name">
                <div class="card-header text-center pt-4 ">
                    <div class="card-actions float-right">
                        <div class="dropdown show">
                            <div href="#" data-toggle="dropdown" data-diplay="static">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-more-horizontal align-middle">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </div>

                            <div class="dropdown-menu dropdown-menu-right">
                                @if (w.GitHubUrl != null)
                        {
                                <a class="dropdown-item" href="@w.GitHubUrl" target="_blank">View Source</a>}
                                @if (w.URL != null)
                        {
                                <a class="dropdown-item" href="@w.URL" target="_blank">GoTo...</a>}
                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item">@(w.IsRunning == true ? "up" : "down")</a>*@
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    @*<img src="@Url.Content($"~/Images/{w.ImageTitle}")" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="" />*@
                    <img src="@Url.Content(w.ImageTitle)" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="" />
                    <h5 class="card-title mb-0">@w.Name</h5>
                </div>

                <div class="card-body px-4 pt-2">
                    <p class=".app-description">@w.Description</p>
                </div>
            </div>
        </div>}
    </div>
</div>

<script>
    let file = "https://api.github.com/zen"

    fetch(file)
        .then(x => x.text())
        .then(y => document.getElementById("zen").innerHTML = y);
</script>
